<link rel="stylesheet" href="style.css">
html {
    font-family: "Comic Sans MS", "Comic Sans", Arial, sans-serif;
  }
  h1, h2, h3 {
    font-family: Papyrus, sans-serif;
    color: purple;
  }
  ul {
    list-style-type: none; 
    background-color: gray; 
    margin: 0; 
    padding: 0; 
  }
  
  li {
    display: inline-block; 
    padding: 16px; 
  }
  
  li a {
    color: black; 
    text-decoration: none; 
  }
  li:hover {
    background-color: #AAA;
  }
  footer {
    background-color: #DDD; 
    color: #555;           
    text-align: center;   
    padding: 16px 0;       
  }